@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-color: #111;
  color-scheme: dark;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  @apply bg-zinc-700 p-1.5 rounded-lg
}

textarea {
  @apply bg-zinc-700 p-1.5 rounded-lg resize-none 
}

button {
  @apply p-2 bg-zinc-700 rounded-xl hover:bg-zinc-600
}

button:disabled {
  @apply text-zinc-500 bg-zinc-700
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #282828;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #282828;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #646464;
}
